<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="hero">
      <nav class="hero--nav">
        <img class="hero__image" src="images/logo.png" alt="" />
        <div class="hero__option">
          <span class="lang">
            <i class="fas fa-globe"></i>
            <select class="select">
              <option class="lang__item">Marathi</option>
              <option class="lang__item">Hindi</option>
              <option class="lang__item">English</option>
            </select>
          </span>
          <a class="btn btn--sign" href="#">Sign In</a>
        </div>
      </nav>
      <div class="hero--intro">
        <div class="intro__content">
          <h1>Unlimited movies, TV shows and more.</h1>
          <h2>Watch anywhere. Cancel anytime.</h2>
          <p>
            Ready to watch? Enter your email to create or restart your
            membership.
          </p>
          <form class="form">
            <input
              class="input"
              type="email"
              placeholder="Email address"
              required
            />
            <button class="btn btn--start" type="submit">
              Get Started <i class="fas fa-chevron-right"></i>
            </button>
          </form>
        </div>
      </div>
    </header>
  </body>
</html>
